## PART 2: SQLite

Export the country club data from PHPMyAdmin, and connect to a local SQLite instance from Jupyter notebook 
for the following questions.

In [1]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('sqlite:///sqlite_db_pythonsqlite.db')

## QUESTIONS:
Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [3]:
q10_query = "SELECT f.name AS facility, SUM(CASE WHEN memid = 0 THEN f.guestcost * b.slots ELSE f.membercost * b.slots END) AS revenue FROM Bookings AS b INNER JOIN Facilities AS f USING(facid) WHERE (SELECT SUM(CASE WHEN memid = 0 THEN guestcost * slots ELSE membercost * slots END) FROM Bookings INNER JOIN Facilities USING(facid) WHERE b.facid = Bookings.facid GROUP BY Bookings.facid) < 1000 GROUP BY facid ORDER BY revenue;"
with engine.connect() as conn:
    q10_df = pd.read_sql_query(q10_query, conn)
    
print(q10_df)

        facility  revenue
0   Table Tennis      180
1  Snooker Table      240
2     Pool Table      270

#### Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [5]:
q11_query = "SELECT (surname || ', ' || firstname) AS member, (SELECT (surname || ', ' || firstname) FROM Members WHERE Members.memid = m.recommendedby) AS recommender FROM Members AS m ORDER BY member"
with engine.connect() as conn:
    q11_df = pd.read_sql_query(q11_query, conn)
    
print(q11_df)

                      member         recommender
0            Bader, Florence    Stibbons, Ponder
1                Baker, Anne    Stibbons, Ponder
2             Baker, Timothy     Farrell, Jemima
3                Boothe, Tim         Rownam, Tim
4            Butters, Gerald       Smith, Darren
5               Coplin, Joan      Baker, Timothy
6             Crumpet, Erica        Smith, Tracy
7                Dare, Nancy    Joplette, Janice
8             Farrell, David                None
9            Farrell, Jemima                None
10              GUEST, GUEST                None
11          Genting, Matthew     Butters, Gerald
12                Hunt, John  Purview, Millicent
13              Jones, David    Joplette, Janice
14            Jones, Douglas        Jones, David
15          Joplette, Janice       Smith, Darren
16           Mackenzie, Anna       Smith, Darren
17             Owen, Charles       Smith, Darren
18             Pinker, David     Farrell, Jemima
19        Purview, Millicent        Smith, Tracy
20               Rownam, Tim                None
21         Rumney, Henrietta    Genting, Matthew
22         Sarwin, Ramnaresh     Bader, Florence
23             Smith, Darren                None
24             Smith, Darren                None
25               Smith, Jack       Smith, Darren
26              Smith, Tracy                None
27          Stibbons, Ponder       Tracy, Burton
28             Tracy, Burton                None
29      Tupperware, Hyacinth                None
30  Worthington-Smyth, Henry        Smith, Tracy

#### Q12: Find the facilities with their usage by member, but not guests

In [6]:
q12_query = "SELECT f.name, SUM(b.slots) AS mem_slots FROM Bookings AS b INNER JOIN Facilities AS f USING(facid) WHERE b.memid > 0 GROUP BY b.facid"
with engine.connect() as conn:
    q12_df = pd.read_sql_query(q12_query, conn)
    
print(q12_df)

              name  mem_slots
0   Tennis Court 1        957
1   Tennis Court 2        882
2  Badminton Court       1086
3     Table Tennis        794
4   Massage Room 1        884
5   Massage Room 2         54
6     Squash Court        418
7    Snooker Table        860
8       Pool Table        856

#### Q13: Find the facilities usage by month, but not guests

In [7]:
q13_query = "SELECT f.name, strftime('%m', b.starttime) AS month, SUM(b.slots) AS mem_slots FROM Bookings AS b INNER JOIN Facilities AS f USING(facid) WHERE b.memid > 0 GROUP BY b.facid, month"
with engine.connect() as conn:
    q13_df = pd.read_sql_query(q13_query, conn)
    
print(q13_df)

               name month  mem_slots
0    Tennis Court 1    07        201
1    Tennis Court 1    08        339
2    Tennis Court 1    09        417
3    Tennis Court 2    07        123
4    Tennis Court 2    08        345
5    Tennis Court 2    09        414
6   Badminton Court    07        165
7   Badminton Court    08        414
8   Badminton Court    09        507
9      Table Tennis    07         98
10     Table Tennis    08        296
11     Table Tennis    09        400
12   Massage Room 1    07        166
13   Massage Room 1    08        316
14   Massage Room 1    09        402
15   Massage Room 2    07          8
16   Massage Room 2    08         18
17   Massage Room 2    09         28
18     Squash Court    07         50
19     Squash Court    08        184
20     Squash Court    09        184
21    Snooker Table    07        140
22    Snooker Table    08        316
23    Snooker Table    09        404
24       Pool Table    07        110
25       Pool Table    08        303
26       Pool Table    09        443